//Kolory

$primary-gold: #cdb378;
$primary-gold-2: #b4ba98;

$color-white:#fff;
$color-black: #000;
$color-black-2: #18190e;
$color-black-3: #1a1c0f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e9e0e0;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$border-button-black:#404429;
$background-button-black: #272a18;


//Font
$default-font-size: 1.6rem;

//Font-famili
$font-cinzel: 'Cinzel Decorative', cursive;
$font-amiri: 'Amiri', cursive;