.btn--black {

    &:link,
    &:visited {
        font-family: 'Amiri', cursive;
        font-size: initial;
        text-transform: uppercase;
        color: $color-white;
        border: 2px solid $border-button-black;
        background: $background-button-black;
        padding: 1rem 2.5rem;

        @include animate( all, .3s );
    }

    &:hover {
        color: $background-button-black;
        background: $color-grey-light-3;
    }
}